@model IEnumerable<Turnierverwaltung.Group>

@{
    ViewBag.Title = "Tabelle";
}

<h2>@ViewBag.Title</h2>

<table class="table">
    @foreach (var group in Model)
    {
    <tr>
        <th>
            @Html.DisplayFor(modelItem => group.Name)
        </th>
        <th>
            Spiele
        </th>
        <th>
            Siege
        </th>
        <th>
            Unentschieden
        </th>
        <th>
            Niederlage
        </th>
        <th>
            Tore
        </th>
        <th>
            Gegen Tore
        </th>
        <th>
            Tordifferenz
        </th>
        <th>
            Punkte
        </th>
        <th></th>
    </tr>

        foreach (var item in group.Club)
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
                  
    </td>
    <td>
                  
    </td>
    <td>
                  
    </td>
    <td>
                  
    </td>
    <td>
                  
    </td>
    <td>
                  
    </td>
    <td>
    </td>
</tr>
        }
    }

</table>
