@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    BBZW Sursee<br />
    Kottenmatte 4, 6210 Sursee<br />
</address>

<address>
    <strong>Kalyca Giannopoulos:</strong>   <a href="mailto:Kalyca_Giannopoulos@sluz.ch">Kalyca_Giannopoulos@sluz.ch</a><br />
    <strong>Yannick Konrad:</strong> <a href="mailto:Yannick_Konrad@sluz.ch">Yannick_Konrad@sluz.ch</a><br />
    <strong>Veaceslav Salcov:</strong> <a href="mailto:Veaceslav_Salcov@sluz.ch">Veaceslav_Salcov@sluz.ch</a>
</address>