@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>UEFA Turnierverwaltung</h1>
    <p class="lead">Die Turnierverwaltung wurde im Rahmen des Moduls 150 erstellt. Das Ziel ist es Fussballturniere zu verwalten und zu erstellen.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Saison</h2>
        <p>
           Die verschiedenen Saisons werden hier angezeigt.
        </p>
        <p><a class="btn btn-default" href="~/Tournments">Saison &raquo;</a></p>
    </div>
	 <div class="col-md-4">
        <h2>Spieltag</h2>
        <p>Finde alle Spiele</p>
        <p><a class="btn btn-default" href="~/Games">Spieltag &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Teams</h2>
        <p>Finde alle jemals teilgenommen Teams</p>
        <p><a class="btn btn-default" href="~/Clubs">Teams &raquo;</a></p>
    </div>
</div>